$primaryFontFamily: "Roboto", sans-serif;
$primaryBg: #ffffff;
$primaryFontColor: #212121;

$logostudioColor: #ffffff;
$logowebColor: #2196f3;

$linkTextDecoration: none;
$hoverfocusactiveColor: #2196f3;

$hederFontWeight: 500;
$headerFontSize: 14px;
$heaaderIconFillColor: #afb1b8;

$globalTransitionDuration: 250ms;
$globalTransitionTimingFunction: cubic-bezier(0.4, 0, 0.2, 1);
$globalFontDescriptionColor: #757575;
